<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/assets/js/moment.min.js}"></script>
<script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>

<!-- <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"  />
<link th:href="@{/assets/css/styleTimeline.css}" rel="stylesheet" type="text/css"  /> -->
<link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css"  />
<title>Test Information</title>
</head>
<body>
	<form id="reason" name="reason" th:action="@{/Test}" th:object="${reason}" method="post">
	    <div>
	      <label class="control-label">id</label>
	      <input th:field="*{id}" type="text" />
	    </div>
	    <div>
	      <label class="control-label">name</label>
	      <input th:field="*{name}" type="text" />
	    </div>
	    <input type="text" th:field="*{status}" />
	    <input type="submit" value="Save" />
	</form>
</body>
</html>

<Script type="text/javascript" th:inline="javascript">
	$(document).ready(function(){
		 var reason = {}
		 reason["id"] = $("#id").val();
		 reason["name"] = $("#name").val();
		 reason["status"] = $("#status").val();
		
		var $form = $('#reason');
		  $form.on('submit', function(e) {
		    e.preventDefault();
		    //alert($form.serialize());
		    $.ajax({
		      url: $form.attr('action'),
		      type: 'post',
//		      data: JSON.stringify(reason),
// 		      contentType: 'application/json',
// 		      dataType: 'json',
		      data: $form.serialize(),
		      success: function(response) {
		    	  alert(response);
		      },
		    	error: function(e) {
		        	alert(e.responseText);
		      }
		  });
		});
		  
	});
</Script>