<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/assets/csscust/styleLogin.min.css}" rel="stylesheet" type="text/css"  />
<script th:src="@{/assets/js/login.min.js}"></script>
<script th:src="@{/assets/js/login.min2.js}"></script>
<link th:href="@{/assets/csscust/styleLogin.css}" rel="stylesheet" type="text/css"  />
</head>
<body th:background="@{/assets/imgcust/background.jpg}">
	<nav class="navbar navbar-inverse" style="margin-bottom: 0.5%">
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 style="font-size:25px;font-weight:bold; text-shadow: 2px 2px 4px #000000; color: white">Registration Form</h2>
				<form style="background-color: white; border-radius: 5px" action="#" th:action="@{/registration}" th:object="${user}" method="post">
					<div class="containerform">
						<label style="color: black"><b>Username</b></label>
						<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="font-size: 20; color: #FF1C19;"></label> 
						<input type="text" th:field="*{username}" placeholder="Enter Username" required> 
						
						<label style="color: black"><b>Fullname</b></label>
						<label th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" style="font-size: 20; color: #FF1C19;"></label> 
						<input type="text" th:field="*{fullname}" placeholder="Enter fullname" required> 
						
						<label style="color: black"><b>Password</b></label>
						<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="font-size: 20; color: #FF1C19;"></label> 
						<input type="password" th:field="*{password}" placeholder="Enter Password" required> 
						
						<button type="submit" style="background-color: #438EB9">Register User</button>
						<span th:utext="${successMessage}"></span>
					</div>
				</form>
				<form th:action="@{/}" method="get">
					<button class="btn-warning btn-block" type="Submit">Go To Login</button>
				</form>
			</div>
		</div>
	</div>

	<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>

</body>
</html>